@charset "UTF-8";

/* #pageContainer.booklog .topSection -- START --- */
#pageContainer.booklog section.topSection {width:100%; display:flex; flex-flow:row wrap; justify-content:space-between; align-items:flex-end;}

#pageContainer.booklog .searchArea {width:55%; max-width:800px; min-width:300px; display:flex; flex-flow:row nowrap; position:relative;}
#pageContainer.booklog .searchArea select.selectBox {width:100px; border:0; color:var(--InputTxtColor); background:var(--BgColorReversed); padding:1em;}
#pageContainer.booklog .searchArea input.searchBar {width:100%; background:var(--InputBgColor); color:var(--TxtColorFixed); font-size:1.125em; font-weight:300; border:0; padding:1em 4em 1em 1em;}
#pageContainer.booklog .searchArea button.searchBtn {color:var(--InputTxtColor); font-size:1.5em; position:absolute; top:50%; right:1em; transform:translateY(-50%); z-index:5;}

#pageContainer.booklog .sortArea {display:flex; flex-flow:row nowrap; align-items:center; justify-content:center;}
#pageContainer.booklog .sortArea button.sortBtn {margin-left:1em;}
#pageContainer.booklog .sortArea button.sortBtn.active {font-weight:700; text-decoration:underline; text-underline-position:under;}
/* #pageContainer.booklog .topSection -- END --- */



/* #pageContainer.booklog.search -- START --- */
#pageContainer.booklog.search #pageVisual > * {max-width:1080px; padding:0 20px;}
#pageContainer.booklog.search #pageContents {max-width:1120px;}
#pageContainer.booklog.search #pageContents > * {padding:0 20px;}

#pageContainer.booklog.search {background:var(--BgColor);}
#pageContainer.booklog.search section.mainSection {margin-top:5em;}

#pageContainer.booklog.search .sectinTitle {display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:flex-end; border-bottom:1px solid var(--BorderColor); padding-bottom:1em;}
#pageContainer.booklog.search h3.title {font-size:1.75em;}

#pageContainer.booklog.search ul.pagination {display:flex; flex-flow:row; align-items:center; margin:0; line-height:1;}
#pageContainer.booklog.search ul.pagination li {padding:0 0.5em;}
#pageContainer.booklog.search ul.pagination li a {color:var(--InputTxtColor); font-weight:600; padding:0.25em; cursor:pointer; transition:all 0.25s ease;}
#pageContainer.booklog.search ul.pagination li a:hover {color:var(--PointColor);}
#pageContainer.booklog.search ul.pagination li.previous, 
#pageContainer.booklog.search ul.pagination li.next {}
#pageContainer.booklog.search ul.pagination li.active a {color:var(--TxtColor); font-weight:700;}

#pageContainer.booklog.search .listArea {padding:0;}
#pageContainer.booklog.search .listArea .listItem {padding:2em 0; border-bottom:1px solid var(--BorderColor); margin-bottom:0;}
#pageContainer.booklog.search .listArea .listItem a {width:100%; display:flex; flex-flow:row nowrap;}
#pageContainer.booklog.search .listArea .listItem .txtBox {width:100%; padding:0.5em 3em 0.5em 0;}
#pageContainer.booklog.search .listArea .listItem .txtBox .cate {margin-bottom:0.5em; color:var(--TxtColor);}
#pageContainer.booklog.search .listArea .listItem .txtBox .title {font-size:1.125em; margin-bottom:0.5em;}
#pageContainer.booklog.search .listArea .listItem .txtBox .content {margin-bottom:0.25em;}
#pageContainer.booklog.search .listArea .listItem .txtBox .info {font-size:0.875em; display:flex; flex-flow:row; justify-content:stretch;}
#pageContainer.booklog.search .listArea .listItem .txtBox .info span {font-size:inherit;}
#pageContainer.booklog.search .listArea .listItem .txtBox .info span:first-child::after {content:'｜'; padding:0 0.75em; font-weight:200;}
#pageContainer.booklog.search .listArea .listItem .txtBox .info span.updatedAt {margin-left:auto;}
#pageContainer.booklog.search .mainSection.typeBooklog .listItem {display:block;}
#pageContainer.booklog.search .mainSection.typeBooklog .listArea .listItem > * {width:100%; display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:flex-end; line-height:1;}
#pageContainer.booklog.search .listArea .listItem .userBox {}
#pageContainer.booklog.search .listArea .listItem .userBox .nickname {font-size:1.25em; margin-right:0.5em;}
#pageContainer.booklog.search .listArea .listItem .userBox .userId {margin-right:auto; color:var(--InputTxtColor); font-weight:600;}
#pageContainer.booklog.search .mainSection.typeBooklog .listArea .listItem .userBox a {width:auto; color:var(--PointColor); font-weight:700; padding-bottom:0.125em; border-bottom:1px solid var(--PointColor);}
#pageContainer.booklog.search .listArea .listItem .introBox {margin-top:1.25em;}
#pageContainer.booklog.search .listArea .listItem .introBox .title {font-size:1em; font-weight:600;}
#pageContainer.booklog.search .listArea .listItem .introBox .since b {margin-right:0.25em;}
/* #pageContainer.booklog .topSection -- END --- */



/* #pageContainer.booklog.now .mainSection -- START --- */
#pageContainer.booklog {background:#2222220a;}

#pageContainer.booklog.now section.mainSection {margin-top:3em;}
#pageContainer.booklog .listArea .listItem {width:100%;   border:1px solid var(--GuideColor)
;  background:var(--BgColor); display:flex; flex-flow:row wrap; justify-content:stretch; align-items:stretch; overflow:hidden; position:relative; margin-bottom:2em; padding:2.5em;}
#pageContainer.booklog .listArea .listItem .imgBox {width:140px;}
#pageContainer.booklog .listArea .listItem .imgBox img {display:block; border:1px solid var(--BorderColor);}
#pageContainer.booklog .listArea .listItem .txtBox {width:calc(100% - 140px); display:flex; flex-flow:column; justify-content:space-between; padding:1em 0 1em 2em;}
#pageContainer.booklog .listArea .listItem .txtBox .title {font-size:1.375em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom:1em;}
#pageContainer.booklog .listArea .listItem .txtBox .content {width:100%; border:0; color:var(--InputTxtColor); text-align:justify; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-bottom:1.25em; padding:0;}
#pageContainer.booklog .listArea .listItem .txtBox .content p {display:inline;}
#pageContainer.booklog .listArea .listItem .txtBox > p {display:flex; flex-flow:row nowrap; justify-content:flex-start;}
#pageContainer.booklog .listArea .listItem .txtBox > p .writer {font-weight:500;}
#pageContainer.booklog .listArea .listItem .txtBox > p .writer b {margin-right:0.5em; font-weight:700;}
#pageContainer.booklog .listArea .listItem .txtBox > p .writer a:hover {text-decoration:underline; text-underline-position:under;}
#pageContainer.booklog .listArea .listItem .txtBox > p .createtime {margin-left:2.5em;}
#pageContainer.booklog .listArea .listItem .txtBox > p .count {margin-left:auto; font-weight:500; display:flex; flex-flow:row nowrap; align-items:center;}
#pageContainer.booklog .listArea .listItem .txtBox p .count svg {font-size:1.25em; margin-right:0.25em;}
/* #pageContainer.booklog.now .mainSection -- END --- */



/* #pageContainer.booklog.detail .mainSection -- START --- */
#pageContainer.booklog.detail #pageVisual {height:300px; padding:1.5em 0; justify-content:flex-end; position:relative;   border-bottom:1px solid var(--GuideColor)
;}
#pageContainer.booklog.detail #pageVisual > * {max-width:1080px;}
#pageContainer.booklog.detail #pageVisual .backBtn {position:absolute; left:calc((100vw - 1100px) / 2); top:1em; font-size:1.75em;}
#pageContainer.booklog.detail #pageVisual .cate {max-width:1440px; margin:0 auto;}
#pageContainer.booklog.detail #pageVisual .cate span {font-size:0.875em; font-weight:500; line-height:1; padding:0.5em 0.75em; border:1px solid var(--TxtColor); border-radius:2em;}
#pageContainer.booklog.detail #pageVisual .title {font-family:inherit; font-size:2.25em; font-weight:500; text-align:center; margin:0.5em auto 1em; word-break: keep-all; line-height: 1.25;}
#pageContainer.booklog.detail #pageVisual .info {font-size:1.125em; text-align:center; position:relative; display: flex; justify-content: center; align-items: center;}
#pageContainer.booklog.detail #pageVisual .info .date {font-size:0.875em; color:var(--InputTxtColor); position:absolute; right:0;}
#pageContainer.booklog.detail #pageVisual .info .count {display: flex; align-items: center; margin-left: 1.5em; font-weight:500;}
#pageContainer.booklog.detail #pageVisual .info .count svg {font-size:1.25em; margin-right:0.25em;}

#pageContainer.booklog.detail #pageContents {max-width:1080px; background:var(--BgColor); margin-top:3em; padding:0;}
#pageContainer.booklog.detail #pageContents > * {padding:0 20px; border-bottom:1px dashed var(--BorderColor);}

#pageContainer.booklog.detail section.topSection {   border:1px solid var(--GuideColor)
}
#pageContainer.booklog.detail .bookCard {width:100%; display:flex; flex-flow:row nowrap; padding:3em 7%;}
#pageContainer.booklog.detail .bookCard .imgBox {width:120px;}
#pageContainer.booklog.detail .bookCard .imgBox img {display:block; border:1px solid var(--BorderColor);}
#pageContainer.booklog.detail .bookCard .txtBox {width:calc(100% - 120px); padding:1em 0 1em 2em; display:flex; flex-flow:column; justify-content:space-evenly; align-items:stretch;}
#pageContainer.booklog.detail .bookCard .txtBox .title {font-size:1.125em; line-height:1; margin-bottom:0.25em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#pageContainer.booklog.detail .bookCard .txtBox ul.info li {line-height:1; margin-top:0.625em;}
#pageContainer.booklog.detail .bookCard .txtBox ul.info li b {font-weight:600; letter-spacing:0.25em; margin-right:0.25em;}

#pageContainer.booklog.detail section.mainSection {   border:1px solid var(--GuideColor)
}
#pageContainer.booklog.detail pre.content {border:0; text-align:justify; padding:2.5em 2em;}
#pageContainer.booklog.detail pre.content p {line-height:1.8; margin-bottom:2.5em;}
#pageContainer.booklog.detail pre.content p.temp {border-left:1px solid var(--BorderColor); padding-left:1em; color:var(--InputTxtColor);}
#pageContainer.booklog.detail pre.content p.tempRef {color:var(--InputTxtColor); font-size:0.875em; font-weight:500; text-align:right; margin-top:-2em;}

#pageContainer.booklog.detail section.mainSection .btnCase {display: flex; margin-left: 2em; gap: 14px; margin-bottom: 30px; text-align: center;}
#pageContainer.booklog.detail section.mainSection .updateContent {width: 5.25rem; border:1px solid var(--BorderColor); line-height:1; font-size:0.875em; font-weight:300; padding:0.5em 0.875em;}

#pageContainer.booklog.detail section.btmSection {   border:1px solid var(--GuideColor)
}
#pageContainer.booklog.detail .ctrlArea {padding:2em; display:flex; flex-flow:row;}
#pageContainer.booklog.detail .ctrlArea button {border:1px solid var(--BorderColor); line-height:1; font-size:0.875em; font-weight:300; padding:0.5em 0.875em; margin-right:1em;}
#pageContainer.booklog.detail .ctrlArea button b {font-weight:700; display:flex; flex-flow:row; align-items:center; margin-right:0.375em;}
#pageContainer.booklog.detail .ctrlArea button b svg {font-size:1.125em; margin-right:0.25em;}
#pageContainer.booklog.detail .ctrlArea button.likes b svg {color:var(--PointColor);}
#pageContainer.booklog.detail ul.commentArea {margin:0 2em;}
#pageContainer.booklog.detail ul.commentArea li.commItem {background:var(--PointBgColor); padding:1em 2em 0.5em; border-top:1px dashed var(--BorderColor);}
#pageContainer.booklog.detail ul.commentArea li.commItem:first-child {border-top:0;}
#pageContainer.booklog.detail ul.commentArea li.commItem .commInner {width:100%; display:flex; flex-flow:row wrap; justify-content:stretch; margin-bottom:0.75em;}
#pageContainer.booklog.detail ul.commentArea li.commItem .commInner .modal {width:100%;}
#pageContainer.booklog.detail ul.commentArea li.commItem .commInner .modal .modal-content {width:100%; display:flex; flex-flow:row wrap;}
#pageContainer.booklog.detail ul.commentArea li.commItem .commInner .modal textarea {width:100%; margin:0.325em 0 0.5em; resize:none; font-size:0.875em;}
#pageContainer.booklog.detail ul.commentArea li.commItem .commInner .modal button {background:var(--BgColorReversed); color:var(--TxtColorReversed); font-weight:700; text-decoration:none; padding:0.25em 1em;}
#pageContainer.booklog.detail ul.commentArea li.commItem.typeRecomm {background:none; padding:0; border-top:0;}
#pageContainer.booklog.detail ul.commentArea li.commItem.typeRecomm .commInner {position:relative; padding-left:2em; margin-bottom:0.75em;}
#pageContainer.booklog.detail ul.commentArea li.commItem.typeRecomm .commInner::before {content: ''; width:14px; height:14px; border-left:1px solid var(--BorderColor); border-bottom:1px solid var(--BorderColor); position:absolute; left:6px; top:0;}
#pageContainer.booklog.detail ul.commentArea .user {font-size:0.75em; font-weight:500; color:var(--InputTxtColor);}
#pageContainer.booklog.detail ul.commentArea .user strong {font-size:1.375em; font-weight:700; color:var(--TxtColor);}
#pageContainer.booklog.detail ul.commentArea .date {font-size:0.75em; color:var(--InputTxtColor); margin-left:auto;}
#pageContainer.booklog.detail ul.commentArea .content {width:100%; line-height:1.4; font-size:0.925em; text-align:justify; word-wrap:break-word; margin:0.325em 0 0.5em; resize:none;}
#pageContainer.booklog.detail ul.commentArea .typeRecomm .user strong {font-size:1.25em;}
#pageContainer.booklog.detail ul.commentArea .typeRecomm .content {font-size:0.9em; margin:0.25em 0 0.375em;}
#pageContainer.booklog.detail ul.commentArea button {font-size:0.75em; margin-right:0.5em; text-decoration:underline;}
#pageContainer.booklog.detail ul.commentArea li.formCont {display:flex; flex-flow:row nowrap; margin:2em 0 3em;}
#pageContainer.booklog.detail ul.commentArea li.formCont.typeRecomm {margin:1em 0;}
#pageContainer.booklog.detail ul.commentArea li.formCont textarea {width:calc(100% - 100px); margin-right:1em; resize:none;}
#pageContainer.booklog.detail ul.commentArea li.formCont button {width:100px; background:var(--BorderColor); text-decoration:none; letter-spacing:3px; font-size:1em; font-weight:600; margin:0;}

#pageContainer.booklog.detail #sideBar .sideLikes {margin-top:1.5em; border-top-width:1px;}
#pageContainer.booklog.detail #sideBar .sideLikes.likes {background:var(--BgColorReversed);}
#pageContainer.booklog.detail #sideBar .sideLikes.likes svg {color:var(--TxtColorReversed);}
/* #pageContainer.booklog.detail .mainSection -- END --- */



/* #pageContainer.bookclass.article --- START --- */
#pageContainer.booklog.article #pageVisual {max-width:1080px; background:var(--BgColor);}
#pageContainer.booklog.article #pageContents {max-width:1080px; background:var(--BgColor); padding:0;}
#pageContainer.booklog.article #pageContents > * {padding:0 20px;}
#pageContainer.booklog.article #pageContents > *:not(section) {border-bottom:1px dashed var(--BorderColor);}

#pageContainer.booklog.article {background:var(--BgColor);}
#pageContainer.booklog.article #pageVisual {}
#pageContainer.booklog.article #pageVisual .title {font-size:2em;}
#pageContainer.booklog.article #pageVisual .title .nickName {display:block; margin-bottom:0.125em;}
#pageContainer.booklog.article #pageVisual .title .userId {color:var(--TxtColor); font-weight:500; font-family:initial; font-size:0.5em;}
#pageContainer.booklog.article #pageVisual .info {display:flex; flex-flow:row wrap; justify-content:space-between; align-items:flex-end; margin-top:1em;}
#pageContainer.booklog.article #pageVisual .info ul {display:flex; flex-flow:row nowrap;}
#pageContainer.booklog.article #pageVisual .info li {font-size:0.95em; display:flex; flex-flow:column; margin-right:2em;}
#pageContainer.booklog.article #pageVisual .info li strong {font-weight:600;}
#pageContainer.booklog.article #pageVisual .info li span {font-size:1.5em; font-weight:600; padding:0 0.125em;}
#pageContainer.booklog.article #pageVisual .info .button {border-radius:3em; background:var(--PointColor); color:var(--TxtColorFixed); font-weight:600; padding:0.5em 3.5em;}
#pageContainer.booklog.article #pageVisual .info .button.subsBtn {background:var(--PointColor);}
#pageContainer.booklog.article #pageVisual .info .button.newBtn {background:var(--BgColorReversed); color:var(--TxtColorReversed);}

#pageContainer.booklog.article section.tabSection {}
#pageContainer.booklog.article .tabList {display:flex; flex-flow:row nowrap; border-top:1px solid var(--BorderColor); background:var(--BgColor);}
#pageContainer.booklog.article .tabList .tabItem {width:calc(100% / 3); background:#fff2; border-radius:0; border-top:2px solid transparent; text-align:center; padding:0.5em; font-weight:500; cursor:pointer; outline:0;}
#pageContainer.booklog.article .tabList .tabItem.react-tabs__tab--selected {background:var(--TxtColorFixed); border-top-color:var(--BorderColor); font-weight:700;}
#pageContainer.booklog.article .tabGroup {}
#pageContainer.booklog.article .tabGroup .listArea {padding:0;}
#pageContainer.booklog.article .tabGroup .listItem {padding:2em 0; border-bottom:1px dashed var(--BorderColor);}
#pageContainer.booklog.article .tabGroup .listItem a {width:100%; display:flex; flex-flow:row nowrap;}
#pageContainer.booklog.article .tabGroup .txtBox {width:100%; padding:0.5em 3em 0.5em 0;}
#pageContainer.booklog.article .tabGroup .txtBox .cate {margin-bottom:0.5em; color:var(--TxtColor);}
#pageContainer.booklog.article .tabGroup .txtBox .title {font-size:1.125em;}
#pageContainer.booklog.article .tabGroup .txtBox .info {font-size:0.875em; display:flex; flex-flow:row; justify-content:stretch;}
#pageContainer.booklog.article .tabGroup .txtBox .info span {font-size:inherit;}
#pageContainer.booklog.article .tabGroup .txtBox .info span:first-child::after {content:'｜'; padding:0 0.75em; font-weight:200;}
#pageContainer.booklog.article .tabGroup .txtBox .info span.updatedAt {margin-left:auto;}
#pageContainer.booklog.article .tabGroup .imgBox {}
#pageContainer.booklog.article .tabGroup .typeCate .listItem {display:flex; flex-flow:row wrap; justify-content:space-between; align-items:center; cursor:pointer;}
#pageContainer.booklog.article .tabGroup .typeCate .title {font-size:1.25em; font-weight:600; display:flex; flex-flow:row nowrap; align-items:center;}
#pageContainer.booklog.article .tabGroup .typeCate .title svg {font-size:1.25em; margin-right:0.375em;}
#pageContainer.booklog.article .tabGroup .typeCate .info span:last-child::before {content:'｜'; padding:0 0.5em; font-weight:200;}


#pageContainer.booklog.article .tabGroup .groupListItem  {
  display: flex;
  border-bottom:1px dashed var(--BorderColor);
  padding: 20px;
}

#pageContainer.booklog.article .tabGroup .groupListItem .content {
  width: 100%;
    border: 0;
    color: var(--InputTxtColor);
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1.25em;
    padding: 0;

}

#pageContainer.booklog.article .tabGroup .groupListItem .imgBBox{
  width: 140px;
  border: 1px solid var(--BorderColor);
}


/*  */

#pageContainer.booklog.article .tabGroup .introBox {display:flex; flex-flow:column; padding:2em 0;}
#pageContainer.booklog.article .tabGroup .introBox .title {font-size:1.25em;}
#pageContainer.booklog.article .tabGroup .introBox .intro {border:0; padding:0; margin:1.25em 0 0.5em;}
#pageContainer.booklog.article .tabGroup .introBox .since {text-align:right;}
#pageContainer.booklog.article .tabGroup .introBox .since b {font-weight:600; margin-right:0.5em;}
#pageContainer.booklog.article .tabGroup button.changeInfoBtn {font-size:0.875em; text-decoration:underline; margin-left:auto;}
#pageContainer.booklog.article .tabGroup .introBox.typeChange label {width:100%; display:flex; flex-flow:column; margin-bottom:1em;}
#pageContainer.booklog.article .tabGroup .introBox.typeChange .title {font-size:1em; font-weight:400; margin:0.25em 0;}
#pageContainer.booklog.article .tabGroup .introBox.typeChange .intro {border:1px solid var(--BorderColor); padding:0.125em 0.375em; resize:none; margin:0.25em 0;}
#pageContainer.booklog.article .tabGroup .introBox.typeChange .btnBundle {display:flex; flex-flow:row; justify-content:flex-end;}
#pageContainer.booklog.article .tabGroup .introBox.typeChange .btnBundle button {background:var(--BgColorReversed); color:var(--TxtColorReversed); font-size:0.875em; padding:0.375em 1em; margin-left:0.75em;}
/* #pageContainer.bookclass.article --- END --- */