@charset "UTF-8";

/* #loading -- START --- */
#loading {width:100%; max-width:100%; height:100vh; background:var(--BgColor); color:var(--PointColor); font-family:'LotteriaChab'; font-size:1.5em; display:flex; flex-flow:column; place-content:center; place-items:center; text-align:center; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:9; padding-bottom:3em;}
.basicLoading .iconBox {position:relative; width:3em; height:3.5em; margin:20px auto;}
.basicLoading .iconBox .icon {position:relative; top:0; width:3em; height:3em; animation:bounce 1s infinite;}

#loadingSmall {width:100%; max-width:100%; height: 220px; background-color: var(--BgColor); color:var(--PointColor); font-family:'LotteriaChab'; font-size:1.5em; display:flex; flex-flow:column; place-content:center; place-items:center; text-align:center; z-index:9;}

@keyframes bounce {
  0% {top:0; animation-timing-function:ease-in;}
  40% {top:0.3em; animation-timing-function:ease-out;}
  55% {top:0.5em; animation-timing-function:ease-in;}
  70% {top:0.3em; animation-timing-function:ease-out;}
  95% {top:0; animation-timing-function:ease-in;}
  100% {top:0; animation-timing-function:ease-in;}
}
/* #loading -- END --- */


/* #editor -- START --- */
.editorContent {position:relative;}
.editorContent .editorWrapper {width:100%; background:var(--TxtColorFixed); color:var(--BgColorFixed); border:1px solid var(--BorderColor); position:relative; z-index:2;}
.editorContent .editorWrapper .editorToolbar {width:100%; border-top-width:0; border-left-width:0; border-right-width:0;}
.editorContent .editorWrapper .editorInner {width:100%; min-height:500px; background:var(--TxtColorFixed); padding:0 1em; cursor:text;}
.editorContent .codeView {width:100%; position:absolute; bottom:0; left:0; z-index:1; opacity:0;}
/* #editor -- END --- */


/* #modalContent -- START --- */
#modalContent {width:100%; height:100vh; background:var(--ModalBgColor); backdrop-filter:blur(5px); position:fixed; top:0; left:0; z-index:999;}
#modalContent > div:first-child {width:100%; max-width:600px; max-height:400px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:3; overflow:hidden;}
#modalContent > div.findBook {background:var(--BgColor); display:flex; flex-flow:column; padding:1em;}
#modalContent > div.findBook .searchBar input.bar {width:100% !important;}
#modalContent > div.findBook .resultBox {width:100%; height:330px; padding-top:1em; overflow-y:scroll;}
#modalContent .bgClickClose {width:100%; height:100%; position:absolute; top:0; left:0; z-index:2;}
#modalContent > div.findBook .resultBox .nullComm {width:100%; height:100%; display:flex; align-items:center; justify-content:center; text-align:center;}
#modalContent > div.findBook .resultBox .popBookList {width: 100%; border-bottom:1px dotted var(--BorderColor); margin-bottom:0.5em; padding:0 0.5em 0.5em;}
#modalContent > div.findBook .resultBox .popBookList .title {font-weight:600;}
#modalContent > div.findBook .resultBox .popBookList .bookInfo {font-size:0.875em;}
#modalContent > div.findBook .resultBox .popBookList .bookInfo span {}
#modalContent > div.findBook .resultBox .popBookList .bookInfo {}
/* #modalContent -- END --- */


/* for Admin */
#pageContainer .forAdmin svg {color: orangered; font-size: 17.5px;}


/*  */
#pageContents.faq .topSection ul {display:flex; flex-flow:row; justify-content:flex-start; align-items:center; margin-bottom:3em;}
#pageContents.faq .topSection ul li {margin-right:1em;}
#pageContents.faq .topSection ul li .tabBtn {padding:0.25em; line-height:1;}
#pageContents.faq .topSection ul li .tabBtn.active {font-weight:700; text-decoration:underline; text-underline-position:under;}
#pageContents.faq .mainSection {border-top:1px solid var(--BorderColor);}
#pageContents.faq details.faqItem {width:100%; padding:0.5em 1.5em; border-bottom:1px solid var(--BorderColor);}
#pageContents.faq details.faqItem.none {display:none;}
/* #pageContents.faq details.faqItem:last-child {border-bottom:1px solid var(--BorderColor);} */
#pageContents.faq details.faqItem summary {display:flex; flex-flow:row; align-items:center; font-size:1.125em; font-weight:600; cursor:pointer; line-height:1; padding:1em 0;}
#pageContents.faq details summary::marker {content:''; font-size:0.75em;}
#pageContents.faq details summary strong {width:100px; display:inline-block; font-size:0.875em; font-weight:500; color:var(--InputTxtColor);}
#pageContents.faq details pre {border:0; border-top:1px dotted var(--BorderColor); padding:1.25em 0 1em; margin-left:100px;;}